
<div class="catcher">
  <div class="menu-head text-center">
    <button class="inline c-white" data-ng-click="gdctrl.showHelp($event); cgctrl.showHelp($event)">
      <i class="zmdi zmdi-chevron-left"></i>
    </button>
    <h2 class="inline c-white">Game Help</h2>
  </div>

  <div class="page-view text-center m-t-30">
    <div>
      <div class="hd">Section about game, rules, bulls and cows</div>
      <div class="text"></div>
    </div>

    <div>
      <div class="hd">Section about how to create game</div>
      <div class="text">
        <ul>
          <li>- How to choose length and what is that mean</li>
          <li>- What "difficulty" mean?</li>
          <li>- How to create game with secret word</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="hd">Section about process UI</div>
      <div class="text">
        <ul>
          <li>- How to get tries</li>
          <li>- How to get hints</li>
          <li>- How to send words</li>
          <li>- How to open game menu</li>
          <li>- How to get best matches</li>
          <li>- How to get zero matches</li>
          <li>- How to abort game</li>
          <li>- Which colors exist and what they are mean?</li>
        </ul>
      </div>
    </div>
    
  </div>
</div>
