<div class="container">
    <div class="block-header">
        <h2>Game process</h2>
    </div>

    <style>

    </style>

    <div class="card" id="messages-main" data-ng-controller="gamedialogCtrl as gdctrl">

        <div class="ms-menu c-overflow " data-ng-class="{ 'toggled': mactrl.lvMenuStat }">
            <div class="ms-block">
                <p><strong>Stats</strong></p>
                Time elasped: 7:12:03
                <br/>
                Words sent: 14
            </div>

            <div class="ms-block">
                <p><strong>Bests</strong></p>
                Guacamole — Bulls: 3, Cows: 3<br/>
                Mariotti — Bulls: 3, Cows: 1<br/>
                Pacini — Bulls: 2, Cows: 0<br/>
                Vito — Bulls: 0, Cows: 1<br/>
                Mario — Bulls: 0, Cows: 1<br/>
            </div>

        </div>
 
        <div class="ms-body">
            <div class="listview lv-message">
                <div class="lv-header-alt clearfix">

                    <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>

                    <ul class="lv-actions actions">
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh</a>
                                </li>
                                <li>
                                    <a href="">Message Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="lv-body mb-list">
                    <div class="mbl-messages c-overflow">
                        <div 
                            data-ng-repeat="message in gdResult.list"
                            class="lv-item media "
                            ng-class="{'right' : message.type == 'question'}">
                            <div 
                                class="lv-avatar "
                                ng-class="{'pull-left' : message.type == 'answer', 'pull-right': message.type == 'question'}">
                                <i class="zmdi zmdi-mood"></i>
                            </div>
                            <div class="media-body">
                                <div class="ms-item">
                                    {{ message.text }}
                                </div>
                                <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:00</small>
                            </div>
                        </div>
                    </div>

                    

                    <div class="mbl-compose">
                        <div class="lv-footer ms-reply">
                            <textarea ng-model="textMessage" placeholder="What's on your mind...">{{ textMessage }}</textarea>
                            <button data-ng-click="gdctrl.sendMessage()"><i class="zmdi zmdi-mail-send"></i></button>
                        </div>
                    </div>
                    

                </div>
                
                
            </div>
        </div>
    </div>
</div>
