<section id="main" class="big-page" data-ng-controller="gamedialogCtrl as gdctrl">

  <section
          id="game-menu"
          data-ng-include src="'template/game-menu.html'" 
          data-ng-class="{ 'toggled': gdctrl.showBlocks.gameMenu === true }">
  </section>

  <section
          id="game-help"
          data-ng-include src="'template/game-help.html'" 
          data-ng-class="{ 'toggled': gdctrl.showBlocks.gameHelp === true }">
  </section>

  <section id="content" class="page-view">
    <div class="container">

        <div class="" id="messages-main">

            <div class="ms-body">
                <div class="listview lv-message">
                    <div class="lv-header-alt clearfix">
                      <div class="left-block">Tries: {{ gdResultGameStatus.game.tries }}</div>
                      <div class="right-block" data-ng-click="gdctrl.showHints()"><span class="pointer">Hints: {{ gdResultGameStatus.game.hints }}</span></div>
                      <div class="clr"></div>
                    </div>

                    <div class="lv-body mb-list">
                        <div class="mbl-messages c-overflow">
                            <div class="lv-item media text-center" id="process-game-window">

                              <div
                                  data-ng-repeat="guess in gdResultGuesses.guesses"
                                  class="media-body {{ guess.class }}">
                                <div class="ms-item ">
                                  <div class="text-place">
                                    <span class="word">{{ guess.word }}</span>
                                    {{ (guess.bulls >= 0) ? ', Bulls — ' + guess.bulls : ''}}
                                    {{ (guess.cows >= 0) ? ', Cows — ' + guess.cows : ''}}
                                    <span ng-if="guess.match === true"> — has a match </span>
                                    <span ng-if="guess.match === false"> — doesn't match </span>
                                  </div>
                                </div>
                              </div>

                            </div>
                        </div>

                          <div class="mbl-compose">
                              <div class="lv-footer ms-reply">
                                  <button
                                        class="menu-btn"
                                        data-ng-click="gdctrl.showGameMenu($event)">
                                    <i class="zmdi zmdi-menu"></i>
                                  </button>
                                  <textarea
                                          ng-model="textMessage"
                                          ng-keypress="gdctrl.sendMessage($event)"
                                          placeholder="What's on your mind...">
                                          {{ textMessage }}
                                  </textarea>
                                  <button
                                        class="send-btn"
                                        data-ng-click="gdctrl.sendMessage($event)">
                                    <i class="zmdi zmdi-mail-send"></i>
                                  </button>
                              </div>
                          </div>

                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

  </section>

</section>

