<div class="container">
    <div class="block-header">
        <h2>Settings</h2>
    </div>

    <div class="card">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix">
                <h2 class="lvh-label hidden-xs">Some text here</h2>

                <ul class="lv-actions actions">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle aria-expanded="true">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Listview Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="lv-body">
                <div class="lv-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="media-body">
                        <div class="lv-title">Param one</div>
                        <small class="lv-small">Param one changes your option with number one</small>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="media-body">
                        <div class="lv-title">Param two</div>
                        <small class="lv-small">Param two changes anything with number 2</small>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="radio pull-left">

                        <div class="radio m-b-15">
                            <label>
                                <input type="radio" name="sample" value="">
                                <i class="input-helper"></i>
                                Option 1
                            </label>
                        </div>
                        <div class="radio m-b-15">
                            <label>
                                <input type="radio" name="sample" value="">
                                <i class="input-helper"></i>
                                Option 2
                            </label>
                        </div>
                        <div class="radio m-b-15">
                            <label>
                                <input type="radio" name="sample" value="">
                                <i class="input-helper"></i>
                                Option 3
                            </label>
                        </div>
                        <small class="lv-small">Radio options to param 3</small>
                    </div>
                </div>


                <div class="lv-item media">
                    <div class="switch pull-left">
                        <div class="toggle-switch toggle-switch-demo m-b-15">
                            <input id="ts1" type="checkbox" hidden="hidden">
                            <label for="ts1" class="ts-helper"></label>
                            <label for="ts1" class="ts-label m-l-10">Toggle param switch</label>
                        </div>
                    </div>

                    <small class="lv-small m-t-20">Switch option to last param</small>
                </div>


                

                
            </div>
        </div>
        
    </div>

</div>
