<!-- <header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header> -->

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <!-- <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside> -->

    <section id="content" data-ng-controller="creategameCtrl as cgctrl">

        <section
                id="game-help"
                data-ng-click="cgctrl.checkOverlay($event)"
                data-ng-include src="'template/game-help.html'" 
                data-ng-class="{ 'toggled': cgctrl.showBlocks.gameHelp === true }"
                class="overlay-close">
        </section>

        <div class="container">
            <div class="text-center">
                <h1>Bulls & Cows</h1>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="option-group text-center">
                        <div class="group-name">
                            <h3>Language</h3>
                        </div>

                        <button
                                ng-repeat="lang in cgctrl.gameLang.list"
                                class="btn btn-default btn-icon round-btn"
                                ng-class="{'toggled': cgctrl.gameLang.selected.val === lang.val}" 
                                ng-click="cgctrl.setLang(lang)">
                                {{ lang.val }}
                        </button>
                    </div>

                    <!-- <div class="card m-t-30  p-t-15 p-b-30 text-center">
                        <div class="card-header">
                            <h3 class="m-t-0">Create game</h3>
                            <p class="max-w-500 m-auto">Please, use words 4+ letters</p>
                        </div>

                        <div class="card-body card-padding">
                            <p class="c-black f-500 m-t-20 m-b-20">Please, use words 4+ letters</p>
                            <div class="form-group">
                                <div class="fg-line">
                                    <input ng-model="secretWord" type="text" class="form-control input-lg" placeholder="Secret word">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <button class="btn bgm-orange btn-lg m-t-30" data-ng-click="cgctrl.createGame()">Start game</button> -->
                    <div class="option-group text-center wide-btn-group">
                        <div>
                            <button
                                    class="btn btn-default btn-lg"
                                    data-ng-click="cgctrl.showCreateMenu($event)">
                                    New Game
                            </button>
                        </div>
                        <div>
                            <button
                                    class="btn btn-default btn-lg"
                                    data-ng-click="cgctrl.showHelp($event)">
                                    Help
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div
            class="container"
            id="create-game"
            data-ng-class="{ 'toggled': cgctrl.showBlocks.createMenu === true }">

            <div class="catcher">
                <div class="menu-head text-center">
                  <button class="inline" data-ng-click="cgctrl.showCreateMenu($event)"><i class="zmdi zmdi-chevron-left"></i></button>
                  <h2 class="inline">Game setup</h2>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12 text-center">
                    <div class="catcher">

                        <div class="option-group add text-center">
                            <div class="group-name">
                                <h3>Letters</h3>
                            </div>

                            <button
                                    ng-repeat="length in cgctrl.gameParams.length.list"
                                    class="btn btn-default btn-icon round-btn"
                                    ng-class="{'toggled': cgctrl.gameParams.length.selected.val === length.val}" 
                                    ng-click="cgctrl.setLength(length)">
                                    {{ length.val }}
                            </button>

                        </div>

                        <div class="option-group add text-center">
                            <div class="group-name">
                                <h3>Difficulty</h3>
                            </div>
                            <button
                                    ng-repeat="level in cgctrl.gameParams.difficulty.list"
                                    class="btn btn-default btn-lg"
                                    ng-class="{'toggled': cgctrl.gameParams.difficulty.selected.val === level.val}" 
                                    ng-click="cgctrl.setDifficulty(level)">
                                    {{ level.text }}
                            </button>
                        </div>

                        <!-- <div class="separator-block text-center">
                            <hr/>
                            <h3 class="inline">OR</h3>
                        </div>

                        <div class="form-group">
                            <div class="fg-line">
                                <input ng-model="cgctrl.gameParams.secret" type="text" class="form-control input-lg or-place" placeholder="Type your secret word here">
                            </div>
                        </div> -->

                        <div class="option-group text-center wide-btn-group add">
                            <button class="btn btn-default btn-lg m-t-30" data-ng-click="cgctrl.createGame(this)">Play</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
